/* Gaya Umum */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f3f1;
  color: #333;
}

/* Tema Header */
header {
  background-color: #d32f2f; /* Merah Indonesia */
  color: white;
  text-align: center;
  padding: 1.5em 0;
  background-image: url('batik-pattern.png'); /* Tambahkan pola batik */
  background-size: cover;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

/* Navigasi */
nav {
  background-color: #ffffff;
  border-top: 4px solid #d32f2f;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #d32f2f;
  font-weight: bold;
}

nav ul li a:hover {
  color: #1b5e20; /* Hijau yang khas Indonesia */
}

/* Bagian Utama */
section {
  padding: 2em;
}

section h2 {
  color: #d32f2f;
  border-bottom: 2px solid #d32f2f;
  padding-bottom: 5px;
}

/* Footer */
footer {
  background-color: #d32f2f;
  color: white;
  text-align: center;
  padding: 1.5em 0;
}

footer p {
  margin: 5px 0;
}

footer section {
  padding-bottom: 1em;
}
